# Exceptions
!3rdparty

# Ignore
build/
cmake-build-debug-visual-studio/
cmake-build-debug/

.idea/.gitignore
.idea/.name
.idea/KitEngine.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

!build.yaml
!postbuild.py

.PVS-Studio/